{{!-- <header>
    <div>
        <h1>{{title}} </h1>

    </div id='parent-main'>

    <nav>
        <ul id='main-header'>
            <li><a href='/'>weather</a></li>
            <li><a href='/currency'>Currency</a></li>
            <li><a href='/contact'>Contact</a></li>
        </ul>
    </nav>

</header> --}}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">weather</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/currency">currency</a>
                <a class="nav-link active" aria-current="page"
                    href="https://mailchi.mp/8c36fc630e55/vy2ur438ke">subscribe</a>

            </div>
        </div>
    </div>
</nav>